{
	"printWidth": 120,
	"useTabs": true,
	"quoteProps": "consistent",
	"jsxSingleQuote": false,
	"bracketSameLine": false,
	"requirePragma": false,
	"insertPragma": false,
	"preserve": "always",
	"htmlWhitespaceSensitivity": "strict",
	"vueIndentScriptAndStyle": false,
	"endOfLine": "lf",
	"proseWrap": "preserve",
	"embeddedLanguageFormatting": "auto",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "always"
}
