/* 头部样式调整 */
.layout__area--top .button-2ioYhFEY-,
.layout__area--top .arrow-2pXEy7ej-,
.layout__area--top .button-13wlLwhJ- {
    cursor: pointer;
    min-width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.layout__area--left{
    border: 1px solid #222a30;
}
.scrollBot-2HHpZNuf-,.scrollTop-1eXi8ltS-{
    color:white !important;
    background-color: rgba(4, 13, 20, 0) !important;
    background-image: linear-gradient(to bottom, rgba(4, 13, 20, 0), #000 100%) !important;
    opacity: 1 !important;
}

#tradingview_be633,
#sub-frame-error,
html.theme-dark,
html.theme-dark .group-wWM3zP_M-,
html.theme-dark .chart-page,
html.theme-dark .chart-page .chart-container-border,
html.theme-dark ::selection {
    background-color: #040d14 !important;
}
