@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* colors */
  --orderly-color-primary: 182 79 255;
  --orderly-color-primary-light: 208 140 255;
  --orderly-color-primary-darken: 152 62 214;
  --orderly-color-primary-contrast: 255 255 255;

  --orderly-color-link: 182 79 255;
  --orderly-color-link-light: 208 140 255;

  --orderly-color-secondary: 255 255 255;
  --orderly-color-tertiary: 218 218 218;
  --orderly-color-quaternary: 218 218 218;
  /*--orderly-color-disabled:218 218 218;*/

  --orderly-color-danger: 232 88 175;
  --orderly-color-danger-light: 255 103 191;
  --orderly-color-danger-darken: 199 68 146;
  --orderly-color-danger-contrast: 255 255 255;

  --orderly-color-success: 3 152 134;
  --orderly-color-success-light: 0 181 159;
  --orderly-color-success-darken: 0 119 105;
  --orderly-color-success-contrast: 255 255 255;

  --orderly-color-warning: 255 207 115;
  --orderly-color-warning-light: 255 207 115;
  --orderly-color-warning-darken: 117 88 33;
  --orderly-color-warning-contrast: 255 255 255;

  --orderly-color-fill: 36 32 47;
  --orderly-color-fill-active: 40 46 58;

  --orderly-color-base-100: 93 83 123;
  --orderly-color-base-200: 81 72 107;
  --orderly-color-base-300: 68 61 89;
  --orderly-color-base-400: 57 52 74;
  --orderly-color-base-500: 51 46 66;
  --orderly-color-base-600: 43 38 56;
  --orderly-color-base-700: 36 32 47;
  --orderly-color-base-800: 29 26 38;
  --orderly-color-base-900: 22 20 28;

  --orderly-color-base-foreground: 255 255 255;

  --orderly-color-trading-loss: 255 103 194;
  --orderly-color-trading-loss-contrast: 255 255 255;
  --orderly-color-trading-profit: 0 181 159;
  --orderly-color-trading-profit-contrast: 255 255 255;

  /* rounded */
  --orderly-rounded: 6px;
  --orderly-rounded-sm: 4px;
  --orderly-rounded-lg: 8px;
  --orderly-rounded-xl: 16px;
  --orderly-rounded-full: 9999px;

  --orderly-button-shadow: none;

  /** custom font sizes, if only provide --orderly-font-size-base var, other font sizes will auto calc */
  --orderly-font-size-4xs: 11px;
  --orderly-font-size-3xs: 12px;
  --orderly-font-size-2xs: 13px;
  --orderly-font-size-xs: 14px;
  --orderly-font-size-sm: 15px;
  --orderly-font-size-base: 16px;
  --orderly-font-size-lg: 18px;
  --orderly-font-size-xl: 20px;
  --orderly-font-size-2xl: 24px;
  --orderly-font-size-3xl: 30px;
  --orderly-font-size-4xl: 36px;

  --orderly-color-divider: 42 46 52;

  --orderly-font-family: "Manrope", sans-serif;

  --orderly-shadow-sm: '0px 12px 20px 0px rgba(0, 0, 0, 0.3)';
  --orderly-shadow: '0px 12px 20px 0px rgba(0, 0, 0, 0.3)';
  --orderly-shadow-md: '0px 12px 20px 0px rgba(0, 0, 0, 0.3)';
  --orderly-shadow-lg: '0px 12px 20px 0px rgba(0, 0, 0, 0.3)';
  --orderly-shadow-lg: '0px 12px 20px 0px rgba(0, 0, 0, 0.3)';
  --orderly-shadow-xl: '0px 12px 20px 0px rgba(0, 0, 0, 0.3)';
  --orderly-shadow-2xl: '0px 12px 20px 0px rgba(0, 0, 0, 0.3)';

  --orderly-referral-bg-gradient-from: 73 31 102;
  --orderly-referral-bg-gradient-to: 182 79 255;
  --orderly-referral-text-gradient-from: 73 31 102;
  --orderly-referral-text-gradient-to: 182 79 255;

}

@media screen and (max-width: 768px) {
	::-webkit-scrollbar {
	  width: 4px;
	  height: 0px;
	}
  
	::-webkit-scrollbar-thumb {
	  border-radius: 2px;
	  border-style: dashed;
	  border-color: transparent;
	  border-width: 1px;
	  background: rgba(255, 255, 255, 0.04);
	  background-clip: padding-box;
	}
  
	::-webkit-scrollbar-thumb:hover {
	  background: rgba(255, 255, 255, 0.08);
	  border-radius: 3px;
	}
  }
  
  @media screen and (min-width: 768px) {
	::-webkit-scrollbar {
	  width: 6px;
	  height: 0px;
	}
  
	::-webkit-scrollbar-thumb {
	  border-radius: 3px;
	  border-style: dashed;
	  border-color: transparent;
	  border-width: 1px;
	  background: rgba(255, 255, 255, 0.04);
	  background-clip: padding-box;
	}
  

	::-webkit-scrollbar-thumb:hover {
	  background: rgba(255, 255, 255, 0.08);
	  border-radius: 4px;
	}
  }
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }